 ul,ol{padding:0;margin:0}
.codem-header{max-width: 1300px;width:100%;margin-left: auto;margin-right: auto;}
.logo{width: 100px;}
header{padding: 0;box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.03);border-bottom: 1px solid #ededed;background:#ffffff;}
.header-list li{ display:inline-block;padding: 20px;}
.header-list li a{ color:#000000; text-decoration:none;}
.header-list.float-left li a:hover{ border-bottom: 2px solid red;padding-bottom: 7px;}
.header-logo{ padding: 10px;}
.header-list .register,.header-list .login,.header-list .cart,.header-list .menu{  border-left: 1px solid #ededed;}


 .footer { 
  position: fixed;
   left: 0;
   bottom: 20px;
   width: 100%;
   background-color: none;
}

.footer li
{
font-size: 10px;
font-family: "Calibri", "Helvetica", sans-serif;
list-style-type: none;
padding :8px;
}

.footer-list li  a
{ 

 color:#000000;
 text-decoration:none;
}
.fa
{  
 border-radius: 50%;
 margin: 10px 9px;
 }

.foot1
{
background:white ;
}

.foot
{
background:#D3D3D3	;
}
.foot-list li
{
list-style-type: none;
padding :8px;

}

.body1
{
text-align:center;
font-weight:bold;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size:30px;	
list-style-type: none;
text-width:50px;
} 

.body2
{
text-align:center;
list-style-type: none;
} 

.body3 
{

text-align:center;
text-decoration:none;

} 
.body3 a:hover
{ 
text-decoration:none;border-bottom: 3px solid red;
}
.box {
            border:#666666 solid 1px;
            width:300px;
     }
     
.block {
  display: block;
  width: 20%;
  border: none;
  background-color: tomato;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}


