<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/respond.js"></script>
    <script src="https://use.fontawesome.com/156c9e7818.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
    <header>
        <div class="codem-header">
            <div class="row">
                <div class="col-xl-2 col-md-2">
                    <div class="header-logo">
                        <a href="index.html"><img src="images/logo.png" class="img-fluid logo" alt="logo" title="Codem Online Store"></a>
                    </div>

                </div>
                <div class="col-xl-10 col-md-10">
                    <div class="header-content">
                        <ul class="header-list float-left">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                        <ul class="header-list float-right">
                            <li class="register"><a href="#">Register</a></li>
                            <li class="login"><a href="#">Login</a></li>
                            <li class="cart"><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li class="menu"><a href="#"><i class="fa fa-bars"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    
    
    
    <footer>
     <div class="footer">
        <section class="features">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-3">

                        <i class="fa fa-dollar fa-icon"></i>
                        <p><strong>Free Delivery</strong></p>
                        <p>For all order over 99$</p>
                    </div>
                    <div class="col-xl-3 col-md-3">
                        <i class="fa fa-exchange fa-icon"></i>
                        <p><strong>30 Days Return</strong></p>
                        <p>If goods have Problems</p>
                    </div>
                    <div class="col-xl-3 col-md-3">
                        <i class="fa fa-credit-card fa-icon"></i>
                        <p><strong>Secure Payment</strong></p>
                        <p>100% Secure payment</p>
                    </div>
                    <div class="col-xl-3 col-md-3">
                        <i class="fa fa-question-circle fa-icon"></i>
                        <p><strong>24/7 Support</strong></p>
                        <p>Dedicated support</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul class="footer-list">
                        <li><img src="images/footer-logo.jpg" class="img-fluid logo" alt="logo" title="Codem Online Store" /></li>
                        <li>© Copyright 2019</li>
                        <li><img src="images/footer-payment-icons.jpg" class="img-fluid logo" alt="logo" /></li>
                    </ul>
                </div>


                <div class="col-md-3">
                    <ul class="footer-list">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <ul class="footer-list">
                        <li><a href="#">PrivacyPolicy</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Promotions</a></li>
                        <li><a href="#">Orders Tracking</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <ul class="footer-list">
                        <li><b>+01-3-8888-6868</b></li>
                        <li>38 Block Street ,sydney,Australia</li>
                        <li> <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>

</html>